/*Titre haut de page*/
.titleElement {
    min-height: 6vh;
    color: white;
    background: #6c8a69;
    display: flex;
    text-align: left;
    justify-content: center;
}

/*Élements page home*/
#centeredElements {
    min-height: 94vh;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-evenly;
}

.connexionButton {
    text-decoration: none;
    color: white;
    background: #99c796;
    padding: 30px;
    border-radius: 20px;
    font-size: 20px;
}

.connexionButton:hover {
    background: #6c8a69;
    color: white;
}

/*Centre l'élément se souvenir de moi*/
.centeredAlign tr, .centeredAlign {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

/*Boutons pages connexion et inscription*/
a.loginButton {
    padding: 30px;
}

input.loginButton {
    padding: 27px;
}

.loginButton {
    text-decoration: none;
    color: white;
    background: #99c796;
    border-radius: 20px;
    font-size: 20px;
    border: none;
}

.loginButton:hover {
    background: #6c8a69;
    color: white;

}

/*Bouton de déconnexion*/
.boutonDisconnect {
    text-decoration: none;
    color: white;
    background: #99c796;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
}

.boutonDisconnect:hover {
    background: #6c8a69;
    color: white;
}

.disconnect {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px
}

/*Launch page*/
#letsGo {
    min-height: 44vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bestScore {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

table {
    width: 100%;
}

.classementScores {
    display: flex;
    justify-content: space-evenly;
}

.centeredText {
    display: flex;
    justify-content: center;
    margin: 5px 100px;
}

.margin20{
    margin-top: 20px;
}

.margin2020{
    margin-top: 20px;
    margin-bottom: 20px;
}

#test{
    display: flex;
    justify-items: center;
}

a.boutonCancel {
    padding: 10px 30px;
}

input.boutonCancel {
    padding: 5px 30px;
}

.boutonCancel {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background: #99c796;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    font-weight: bold;
}

.boutonCancel:hover {
    background: #6c8a69;
    color: white;
}

/*AffichageScore*/
#actualScore {
    min-height: 40vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/*Affichage erreur*/
.error {
    color: red;
    margin-top: 20px;
}